################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternCode/bin/Debug/netcoreapp3.1
/DesignPatternCode/obj
/.vs
/XUnitDesignPattern/obj
/XUnitDesignPattern/bin/Debug/netcoreapp3.1
/DesignPatternCode/bin/Release/netcoreapp3.1
/XUnitDesignPattern/bin/Release/netcoreapp3.1
